{% load bootstrap4 %}

<div class="card">
    <div class="card-header">
        <div>{{ post.author.name }}</div>
    </div>
    <div class="card-body">


        <div id="post-{{ post.pk }}-comment-list" class="comment-list mt-3 mb-3">
            {% for comment in post.comment_set.all %}
                {% include "_comment.html" %}
            {% endfor %}
        </div>

    </div>
    <div class="card-footer">
        <form id="post-{{ post.pk }}-comment-form" action="{% url "blog:comment_new" post.pk %}" method="POST">
            {% csrf_token %}
            {% bootstrap_form comment_form %}
            <input type="submit" value="댓글 쓰기" class="btn btn-primary btn-block" />
        </form>

        <script>
        $(function() {
            var form_id = "post-{{ post.pk }}-comment-form";
            $("#" + form_id).submit(function(e) {
                e.preventDefault();

                var options = {
                    success: function(responseText, statusText, xhr, $form) {
                        console.group("ajaxSubmit response");
                        console.log(responseText);
                        console.log(statusText);
                        console.log(xhr);
                        console.log($form);
                        console.groupEnd();

                        $("#post-{{ post.pk }}-comment-list").prepend(responseText);
                    }
                };
                $(this).ajaxSubmit(options);
            });
            console.log("document ready.");
        });
        </script>
    </div>
</div>
